[Unit]
Description=Monthly refresh of MaxMind geolocation data

[Timer]
#OnCalendar=monthly
OnCalendar=Tue *-*-1..7 22:00:00
RandomizedDelaySec=600
Persistent=true
 
[Install]
WantedBy=timers.target
