[Unit]
Description=Weekly refresh of MaxMind geolocation data

[Timer]
OnCalendar=Tue *-*-* 22:00:00
RandomizedDelaySec=600
Persistent=true
 
[Install]
WantedBy=timers.target
