[Unit]
Description=Refresh nft ipset
Requires=nftables.service network-online.target
After=nftables.service network-online.target

[Service]
StandardError=journal
Type=oneshot

# backup existing sets: 'country-ipv4-blacklist' 'country-ipv6-blacklist'
ExecStart=/usr/bin/mv /etc/nftables-ipv4-country.blacklist /etc/nftables-ipv4-country.blacklist.bak
ExecStart=/usr/bin/mv /etc/nftables-ipv6-country.blacklist /etc/nftables-ipv6-country.blacklist.bak

# refresh geoip set for countries we want to block: currently only Russia
ExecStart=/usr/local/bin/build-country-sets.sh nftables Russia

# reload ruleset
ExecStart=/usr/bin/nft --file /etc/nftables.conf
