[Unit]
Description=Update geoipsets
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/usr/local/share
StandardError=journal
Type=oneshot

ExecStart=/usr/bin/geoipsets
#ExecStart=/usr/local/bin/build-country-sets.sh
